.cart {
    margin-bottom: 100px;

    &__empty {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        &-title {
            margin-bottom: 10px;
        }
    }

    &__text {
        font-size: 18px;
        color: #777777;

        &_margin {
            margin-bottom: 50px;
        }
    }

    &__image {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 35px;
    }

    &__button {
        min-width: 210px;
    }

    &__center {
        max-width: 820px;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        display: flex;
        align-items: center;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    &__basket {
        stroke: $color;
        margin-right: 15px;
    }

    &__clear {
        display: flex;
        align-items: center;
        color: #B6B6B6;

        &:hover {
            color: $color;

            .cart {
                &__clear {
                    &-icon {
                        stroke: $color;
                    }
                }
            }
        }

        &-icon {
            margin-right: 10px;
            stroke: #B6B6B6;
        }
    }

    &__items {
        margin-bottom: -20px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__img {
        width: 80px;
        height: 80px;
        margin-right: 15px;
    }

    &__name {
        font-weight: 700;
        font-size: 22px;
    }

    &__change {
        display: flex;
        align-items: center;
    }

    &__minus,
    &__plus {
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid $primary;
        text-indent: -9999px;
        transition: border-color 0.3s;

        &:after {
            content: "";
            position: absolute;
            display: block;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            filter: invert(49%) sepia(37%) saturate(6211%) hue-rotate(350deg) brightness(95%) contrast(93%);
            transition: filter 0.3s;
        }

        &:hover {
            border-color: $color;

            &:after {
                filter: brightness(0);
            }
        }
    }

    &__minus {
        &::after {
            width: 10px;
            height: 2px;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='2' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.04.04h4.8a.96.96 0 010 1.92H1.16a.96.96 0 010-1.92h2.88z'/%3E%3C/svg%3E");
        }
    }

    &__plus {
        &:after {
            width: 12px;
            height: 12px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cpath d='M10.8 4.8H7.2V1.2a1.2 1.2 0 00-2.4 0v3.6H1.2a1.2 1.2 0 000 2.4h3.6v3.6a1.2 1.2 0 002.4 0V7.2h3.6a1.2 1.2 0 000-2.4z' %3E%3C/path%3E%3C/svg%3E");
        }
    }

    &__number {
        border: none;
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    &__price {
        font-weight: 700;
        font-size: 22px;
    }

    &__delete {
        position: relative;
        text-indent: -9999px;
        width: 32px;
        height: 32px;
        border: 2px solid #D7D7D7;
        border-radius: $border-radius;
        transition: border-color 0.3s;

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 16px;
            height: 16px;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            filter: invert(100%) sepia(0%) saturate(558%) hue-rotate(165deg) brightness(92%) contrast(90%);
            transition: filter 0.3s;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.748 9.956L9.499 7.707l2.249-2.248a1.06 1.06 0 00-1.5-1.5L8 6.208 5.752 3.959a1.06 1.06 0 00-1.5 1.5l2.25 2.248-2.25 2.249a1.06 1.06 0 001.5 1.499L8 9.206l2.249 2.249a1.06 1.06 0 001.499-1.5z' /%3E%3C/svg%3E");
        }

        &:hover {
            color: $color;
            border-color: $color;

            &:after {
                filter: brightness(0);
            }
        }
    }

    &__score {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        font-size: 22px;
    }

    &__bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__back {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 17.5px 15px;
        min-width: 210px;

        &-icon {
            margin-right: 10px;
            stroke: #CACACA;
        }

        &:hover {
            .cart {
                &__back {
                    &-icon {
                        stroke: $color;
                    }
                }
            }
        }
    }

    &__buy{
        padding: 17.5px 15px;
        min-width: 210px;
        text-align: center;
    }
}
