body{
    font-family: "Proxima Nova";
}
.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.row {
    display: flex;
}

.align-center {
    align-items: center;
}

a{
    text-decoration: none;
}
