.icon{
    display: inline-block;
    vertical-align: middle;

    &_basket{
        width: 18px;
        height: 18px;
    }

    &_basket-big{
        width: 31px;
        height: 31px;
    }

    &_down{
        width: 10px;
        height:6px;
    }

    &_trash{
        width: 20px;
        height: 20px;
    }

    &_back{
        width: 8px;
        height: 14px;
    }
}
